*.db_info
*.ipinfo
*.flock
*.sci
*.qpf
*.qsf
*.bak
*.dat
*.qmsg
*.cdb
*.hdb
*.xml
*.rdb
*.kpt
*.hier_info
*.hif
*.html
*.ammdb
*.bpm
*.logdb
*.ddb
*.rvd
*.syn_hier_info
*.dpi
*.hb_info
*.sig
*.done
*.rpt
*.summary
VLSI_Project_description.txt
incremental_db/README
db/VLSI_Project.smart_action.txt
db/VLSI_Project.lpc.txt
*.sublime-project
VLSI_Sublime_Project.sublime-project